<h1 class="govuk-fieldset__heading">How would you prefer to be contacted?</h1>

<%= form_with(model: @user, local: true) do |form| %>
	<div class="govuk-hint">
		<label>Select one option</label>
	</div>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
	    <%= form.radio_button :preference, "name", 'data-target': "name_field", class: "govuk-radios__input" %>
	    <%= form.label :preference, "Email", class: "govuk-label govuk-radios__label" %>
	</div>
	<div class="govuk-radios__conditional">
		<div id="name_field" class="govuk-form-group hidden">
		    <%= form.label :email, "Email", class: "govuk-label" %><br>
		    <%= form.text_field :email, class: "govuk-input govuk-!-width-one-half" %>
		</div>
	</div>
	<div class="govuk-radios__item">		
	    <%= form.radio_button :preference, "phone" , 'data-target': "phone_field", class: "govuk-radios__input" %>
	    <%= form.label :preference, "Phone", class: "govuk-label govuk-radios__label" %>
	</div>
	<div class="govuk-radios__conditional">
		<div id="phone_field" class="govuk-form-group hidden">
		    <%= form.label :phone_number, "Phone Number" %><br>
		    <%= form.telephone_field :phone_number, class: "govuk-input govuk-!-width-one-half" %>
		</div>
	</div>
	<div class="govuk-radios__item">		
	    <%= form.radio_button :preference, "mobile" , 'data-target': "mobile_field", class: "govuk-radios__input" %>
	    <%= form.label :preference, "Text Message", class: "govuk-label govuk-radios__label"%>
	</div>
	<div class="govuk-radios__conditional">
		<div id="mobile_field" class="govuk-form-group hidden">
		    <%= form.label :mobile_number, "Mobile Number" %><br>
		    <%= form.telephone_field :mobile_number, class: "govuk-input govuk-!-width-one-half" %>
		</div>
	</div>
  </div>

  <%= form.submit "Submit", class: "govuk-button" %>
<% end %>

